body {
    font-family: 'Atkinson Hyperlegible', sans-serif!important;
    font-weight: 400!important;
    font-size: 18px!important;
    padding-top: 110px;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif!important;
    font-weight: 900!important;
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .mobile {
        display: none;
    }
}

.logo {
    display: inline-block;
}

.logo img {
    max-height: 100px;
}

#ashoka-nav {
    background: white;
    border: none;
    padding: 5px 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}

#ashoka-nav #myNavbar .topnav {
    margin-top: 20px;
}

#ashoka-nav #myNavbar .topnav ul li a {
    /* font-family: Helvetica, sans-serif; */
    font-weight: normal;
    letter-spacing: .5px;
    background: none;
    /* padding-left: 10px; */
    font-size: 18px;
    line-height: 38px;
}

#ashoka-nav #myNavbar .topnav ul li.social a {
    padding-left: 5px;
    padding-right: 5px;
}

#ashoka-nav #myNavbar .topnav ul .active a {
    color: #4424a8;
}

#ashoka-nav #myNavbar .topnav ul li a:hover {
    color: #4424a8;
}

#ashoka-nav #myNavbar .topnav ul li a i {
    font-size: 38px;
    color: #4424a8;
    /* padding-left: 10px; */
}

#ashoka-nav #myNavbar .topnav ul li a i:hover {
    color: #4424a8;
}

#ashoka-nav button:hover {
    background: none;
}

.bnr #myCarousel .carousel-inner .caption {
    padding: 0 40px;
}

.bnr #myCarousel .carousel-inner .caption h3 {
    font-family: 'Merriweather', serif;
    font-size: 46px;
    font-weight: 700;
    color: #F6E21B;
    /* text-align: center; */
    letter-spacing: 1px;
    padding-top: 360px;
    text-transform: uppercase;
}

.bnr #myCarousel .carousel-inner .caption p {
    /* font-family: Georgia, sans-serif; */
    font-size: 18px;
    font-weight: normal;
    color: white;
    /* text-align: center; */
    /* width: 60%; */
    /* margin-left: auto;
    margin-right: auto; */
    display: block;
    letter-spacing: 1px;
    margin-top: 20px;
    line-height: 32px;
    text-shadow: 2px 2px 10px #0c0c0c;
}

.bnr #myCarousel .carousel-inner .caption a {
    border: white solid 2px;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    width: 10%;
}

.bnr #myCarousel .carousel-inner .caption a:hover {
    background: white;
    color: black;
}

.bnr #myCarousel .carousel-inner .item .caption p {
    font-size: 24px;
    font-weight: normal;
    color: white;
    display: block;
    letter-spacing: 1px;
    margin-top: 20px;
    line-height: 32px;
    text-shadow: 2px 2px 10px #0c0c0c;
}

.bnr #myCarousel .carousel-inner .item .caption a {
    border: white solid 2px;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    width: 10%;
}

.bnr #myCarousel .carousel-inner .item .caption a:hover {
    background: white;
    color: black;
}

.bnr #myCarousel .carousel-control .glyphicon-chevron-left,
.bnr #myCarousel .carousel-control .glyphicon-chevron-right,
.bnr #myCarousel .carousel-control .icon-next,
.bnr #myCarousel .carousel-control .icon-prev {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    font-size: 60px;
}

.about .col-md-12 {
    background: white;
    box-shadow: 5px 5px 15px #d1cccc;
    margin-top: 30px;
}

.about .col-md-12 .col-md-5 img {
    width: 100%;
}

.about .col-md-12 .col-md-7 h3 {
    color: #4a6277;
    /* font-family: Helvetica, sans-serif; */
    font-size: 32px;
    padding: 30px 0px;
    letter-spacing: 1px;
    text-align: center;
}

.about .col-md-12 .col-md-7 .row .col-sm-2 i {
    color: #428bca;
    font-size: 30px;
    padding: 20px;
    background: #e4e9ee;
    border-radius: 5px;
}

.about .col-md-12 .col-md-7 .row:hover .col-sm-2 i {
    background: #428bca;
    color: white;
    transition-duration: .7s;
}

.about .col-md-12 .col-md-7 .row .col-sm-10 h1 {
    margin-top: 0px;
    font-size: 16px;
    text-transform: uppercase;
    color: #333232;
    font-weight: 600;
    letter-spacing: .5px;
}

.about .col-md-12 .col-md-7 .row .col-sm-10 p {
    margin-top: 15px;
    font-size: 15px;
    color: #616060;
    font-weight: 400;
    width: 90%;
    text-align: justify;
    line-height: 24px;
}

.about .col-md-12 .col-md-7 .row {
    margin-top: 30px;
}

.vision {
    background: url(../images/vision-bg.jpg) no-repeat center top fixed;
    background-size: cover;
    padding: 50px 0 20px 0;
}

.vision .col-md-4 .col-cont {
    background: white;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    height: 420px;
}

.vision .col-md-4 img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.vision .col-md-4 .col-cont i {
    background: #89c1f3;
    color: white;
    border: solid white;
    border-width: 5px;
    border-radius: 100px;
    font-size: 27px;
    padding: 15px;
    margin-top: -20px;
}

.vision .col-md-4 .col-cont h3 {
    font-size: 20px;
    color: black;
    letter-spacing: .3px;
    font-weight: 600;
    padding: 0 15px;
}

.vision .col-md-4 .col-cont p {
    font-size: 15px;
    color: rgb(90, 89, 89);
    text-align: center;
    padding: 0 15px;
    margin-top: 20px;
}

.vision .col-md-4:hover i {
    background: white;
    color: #428bc4;
    transition-duration: .5s;
}

.approach {
    background: url(../images/clients-bg.jpg) no-repeat center top fixed;
    background-size: cover;
    padding: 60px 0px;
    margin-top: 0px;
}

.approach h1 {
    color: #636262;
    font-size: 35px;
    letter-spacing: .8px;
    padding: 15px;
}

.approach .col-md-4 {
    background: none;
    padding: 0px;
    margin-bottom: 30px;
}

.approach .col-md-4 .col {
    background: white;
    text-align: center;
    margin: 0px 10px;
    border-radius: 5px;
    padding-bottom: 15px;
    height: 550px;
}

.approach .col-md-4 img {
    width: 100%;
    border-radius: 5px;
}

.approach .col-md-4 .col i {
    background: #89c1f3;
    color: white;
    border: solid white;
    border-width: 5px;
    border-radius: 100px;
    font-size: 27px;
    padding: 15px;
    margin-top: -20px;
}

.approach .col-md-4 .col h3 {
    font-size: 20px;
    color: black;
    letter-spacing: .3px;
    font-weight: 600;
    margin-top: 50px;
}

.approach .col-md-4 .col p {
    font-size: 15px;
    color: rgb(90, 89, 89);
    width: 90%;
    text-align: justify;
    padding-left: 5%;
    margin-top: 20px;
}

.approach .col-md-4:hover i {
    background: white;
    color: #428bc4;
    transition-duration: .5s;
}

.serv {
    /* background: url(../media/approach-bg.png) no-repeat center top fixed; */
    background-color: #fff;
    background-size: cover;
    padding: 50px 0 20px 0;
    margin-top: 0px;
}

.serv .col-div {
    background: none;
    margin-bottom: 30px;
}

.serv .col-div .col-cont {
    background: #fbfbfb;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 30px;
}

.serv .col-div img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.serv .col-div .col-cont h3 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 15px;
}

.serv .col-div .col-cont h3 a {
    color: #000;
    text-decoration: none;
}

.serv .col-div .col-cont p {
    font-size: 15px;
    color: rgb(90, 89, 89);
    padding: 0 15px;
    margin: 20px 0 0 0;
    height: 171px;
    overflow: hidden;
}

.service h1 {
    color: #02d4d6;
    font-size: 35px;
    letter-spacing: 2px;
    margin: 100px 0px;
    text-align: center;
}

.service .row .col-xs-6 {
    text-align: center;
    padding: 0px;
    height: 323px;
}

.service .row .col-xs-6 img {
    width: 100%;
    height: 323px;
}

.service .row #col-orange {
    background: #F6E21B;
    padding-top: 126px;
}

.service .row #col-green {
    background: #02d4d6;
    padding-top: 126px;
}

.service .row .col-xs-6 a {
    /* font-family: Georgia, serif; */
    letter-spacing: 2px;
    font-size: 27px;
    color: white;
    text-decoration: none;
}

.service .row .col-xs-6:hover img {
    opacity: 0.5;
    transition-duration: .5s;
}

.service .row #col-orange:hover {
    background: #994c0c;
    transition-duration: .5s;
}

.service .row #col-green:hover {
    background: #158688;
    transition-duration: .5s;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .service .row .col-xs-6 {
        height: 283px;
    }
    .service .row .col-xs-6 img {
        height: 283px;
    }
    .service .row #col-orange {
        padding-top: 110px;
    }
    .service .row #col-green {
        padding-top: 110px;
    }
}

@media only screen and (max-width: 513px) and (min-width: 320px) {
    .service .row .col-xs-6 {
        height: 243px;
    }
    .service .row .col-xs-6 img {
        height: 243px;
    }
    .service .row #col-orange {
        padding-top: 95px;
    }
    .service .row #col-green {
        padding-top: 95px;
    }
}

@media only screen and (max-width: 527px) and (min-width: 406px) {
    .service .row .col-xs-6 a {
        font-size: 26px;
    }
}

@media only screen and (max-width: 406px) and (min-width: 320px) {
    .service .row .col-xs-6 a {
        font-size: 20px;
    }
}

.Contact {
    background: url(../images/contact-bg.jpg) no-repeat right top fixed;
    background-size: cover;
    padding: 50px 0;
}

.Contact .contact-title {
    color: #fff;
    font-size: 46px;
    margin: 0 0 40px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.Contact .col-md-4 .col-cont {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}

.Contact .col-md-4 .col-cont i {
    color: #4424a8;
    font-size: 42px;
}

.Contact .col-md-4 .col-cont h3 {
    color: #000;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}

.Contact .col-md-4 .col-cont p {
    color: #353535;
    font-size: 16px;
    margin-bottom: 0px;
}

footer {
    background: #110045;
    padding-top: 50px;
    background-size: cover;
    padding-bottom: 25px;
}

footer .footer-title {
    color: #fff;
    margin: 0 0 20px 0;
}

footer .footer-cont h1 {
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin-top: 0px;
}

footer .footer-cont p {
    color: #f3f3f3;
    font-size: 16px;
    font-weight: normal;
    margin: 2px;
}

footer .footer-cont p span {
    color: white;
    font-weight: 600;
}

footer .footer-cont p a {
    color: #00fffc;
}

footer .footer-cont .footer-left-phone {
    margin-top: 25px;
    margin-bottom: 10px;
}

footer .footer-cont p .footer-social {
    padding: 10px;
    background-color: #fff;
    margin: 20px 10px 0 0;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 40px;
}

footer .footer-cont p .footer-social i {
    color: #000;
    font-size: 16px;
}

footer .footer-cont p .footer-social:hover {
    background: #000;
}

footer .footer-cont p .footer-social:hover i {
    color: #fff;
}

footer #footer-col-right p {
    font-size: 18px;
    letter-spacing: .5px;
    font-weight: 600;
}

footer .footer-cont ul {
    padding: 0px;
    margin-top: 10px;
}

footer .footer-cont ul li {
    list-style: none;
    padding-top: 5px;
}

footer .footer-cont ul li a {
    /* font-family: Georgia, serif; */
    color: white;
    text-decoration: none;
}

footer .footer-cont ul li a:hover {
    color: #00fffc;
    transition-duration: .5s;
}

footer .footer-cont ul li a span {
    color: #00fffc;
    padding-right: 10px;
}

footer .footer-dividor {
    height: 1px;
    background: #2a74ac;
    width: 100%;
    margin-top: 40px;
}

footer .copyright {
    color: white;
    text-align: center;
    font-size: 13px;
    margin-top: 25px;
}

footer .copyright span {
    font-weight: 600;
}

.service-pg {
    background: url(../media/svbg.jpg)no-repeat center top fixed;
    background-size: cover;
    padding: 60px 0px;
}

.service-pg h1 {
    font-size: 36px;
    color: #4a6277;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 30px 0px 50px 0px;
}

.service-pg .row #col-img {
    padding: 0px;
}

.service-pg .row #col-para-orange {
    padding: 4.5%;
    background: #F6E21B;
    box-sizing: border-box;
}

.service-pg .row #col-para-orange h3 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(49, 49, 49);
}

.service-pg .row #col-para-orange p {
    font-size: 16px;
    color: rgb(49, 49, 49);
    margin-top: 20px;
    line-height: 28px;
}

.service-pg .row #col-para-orange ul {
    margin-top: 20px;
}

.service-pg .row #col-para-orange ul li {
    padding: 1px;
    font-weight: 600;
}

.service-pg .row #col-para-white {
    padding: 4.5%;
    background: white;
    box-sizing: border-box;
}

.service-pg .row #col-para-white h3 {
    font-weight: bold;
    font-size: 18px;
    color: rgb(49, 49, 49);
}

.service-pg .row #col-para-white p {
    font-size: 16px;
    color: rgb(49, 49, 49);
    margin-top: 20px;
    line-height: 28px;
}

.service-pg .row #col-para-white ul {
    margin-top: 20px;
}

.service-pg .row #col-para-white ul li {
    padding: 1px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-weight: 600;
}

.service-pg .row #col-para-green {
    padding: 3.6%;
    background: #02d4d6;
    box-sizing: border-box;
}

.service-pg .row #col-para-green h3 {
    /* font-family: Helvetica, sans-serif; */
    font-weight: bold;
    font-size: 18px;
    color: rgb(49, 49, 49);
}

.service-pg .row #col-para-green p {
    /* font-family: Georgia, serif; */
    font-size: 16px;
    color: rgb(49, 49, 49);
    margin-top: 20px;
    line-height: 28px;
}

.service-pg .row #col-para-green ul {
    margin-top: 20px;
}

.service-pg .row #col-para-green ul li {
    padding: 1px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-weight: 600;
}

h3 {
    font-weight: bold;
}


/* Zoom In #1 */

figure {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.home-about-cont {
    padding: 40px 0;
}

.home-about-cont .about-title {
    color: #4424a8;
    font-size: 36px;
    margin: 0 0 20px 0;
}

.home-about-cont .about-title-small {
    color: #004787;
    margin: 0 0 20px 0;
}

.home-about-cont p {
    text-align: justify;
}

.mb-10 {
    margin-bottom: 10px!important;
}

.mb-20 {
    margin-bottom: 20px!important;
}

.mb-40 {
    margin-bottom: 40px!important;
}

.common-ul {
    padding-left: 0;
    list-style: none;
}

.common-ul li {
    margin-bottom: 15px;
}

.founder-img-cont {
    margin-bottom: 30px;
}

#owl-demo .item {
    margin: 10px;
    text-align: center;
}

#owl-demo .item img {
    width: 100%;
    border-radius: 15px;
}

.customNavigation {
    text-align: center;
}

.customNavigation a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 5px;
}

.section-title {
    color: #4424a8;
    font-size: 46px;
    margin: 0 0 40px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width:767px) {
    body {
        padding-top: 80px;
    }
    .navbar-header {
        text-align: center;
    }
    .topnav .navbar-nav {
        text-align: center;
    }
    .topnav .navbar-nav li a {
        padding: 0 15px;
    }
    .topnav .navbar-nav li.social {
        display: inline-block;
    }
    .logo {
        margin: 5px 0 5px 42px;
    }
    .logo img {
        max-height: 70px;
    }
    .bnr #myCarousel .carousel-inner .caption {
        padding: 0 60px;
        text-align: center;
    }
    .bnr #myCarousel .carousel-inner .item .caption h3 {
        font-size: 26px;
        padding-top: 300px;
    }
    .bnr #myCarousel .carousel-inner .item .caption p {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 1.2;
    }
}